// Сброс стилей

body,
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontRegular;
    font-weight: 400;
    color: $textColorFirst;

    text-decoration: none;

    background-color: $bgFirst;
}

h1 {
    font-family: $fontBold;
    font-weight: 700;
}

.main {
    max-width: 1440px;
    width: calc(100vw - $scrollWidth);
    margin: 0 auto;
    padding: 40px 5px 0 5px;
    overflow: hidden;

    background-color: $bgFirst;
}

// Скролл
body::-webkit-scrollbar {
    width: $scrollWidth;
}

body::-webkit-scrollbar-track {
    background-color: $bgColorThree;
}

body::-webkit-scrollbar-thumb {
    border: 1px solid $bgColorThree;

    border-radius: calc($scrollWidth / 2);
    -webkit-border-radius: calc($scrollWidth / 2);
    -moz-border-radius: calc($scrollWidth / 2);
    -ms-border-radius: calc($scrollWidth / 2);
    -o-border-radius: calc($scrollWidth / 2);
    background-color: $bgFirst;
}


// Отключение ховера на мобильных
@media (hover:hover) {
    .menu > a:hover {
        text-shadow: -3px 3px 8px $textColorFirst;
        color: $textColorFirstHover;
    }

    .client__logo-item:hover {
        opacity: 1;
    }
}