.main {
    max-width: 1440px;
    width: 100vw;
    margin: 0 auto;
    padding-top: 40px;
    overflow: hidden;

    background-color: $bgFirst;

    border: 1px solid red;
}

.nav {
    width: 89%;
    margin: 0 auto;
    margin-bottom: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
font-size: 20px;
line-height: 150%;
letter-spacing: 0.03em;
}

.menu {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.menu > a {
font-size: 12px;
line-height: 173%;
letter-spacing: 0.05em;
}

.title {
    width: 89%;
    margin: 0 auto;
    padding: 10% 0 10% 0;
    border-bottom: 1px solid#dddddd;
    overflow: hidden;

    &__title {
        font-size: clamp(40px, 10vw, 61px);
        line-height: 144%;
        letter-spacing: 0.05em;
        opacity: 0;

        transform: translateX(-100%) translateY(-100%);
        -webkit-transform: translateX(-100%) translateY(-100%);
        -moz-transform: translateX(-100%) translateY(-100%);
        -ms-transform: translateX(-100%) translateY(-100%);
        -o-transform: translateX(-100%) translateY(-100%);

        animation-name: titleMove;
        animation-duration: 2000ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;

        -webkit-animation-name: titleMove;
        -webkit-animation-duration: 2000ms;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
}

    &__text {
        font-size: clamp(20px, 10vw, 66px);
        line-height: 133%;
        letter-spacing: 0.05em;

        margin-bottom: 36px;
    }

    &__copyright {
        font-size: 12px;
        line-height: 213%;
        letter-spacing: 0.05em;
        color: $textColorSecond;

        opacity: 0;

        animation-name: copyrightMove;
        animation-duration: 100ms;
        animation-delay: 5000ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;

        -webkit-animation-name: copyrightMove;
        -webkit-animation-duration: 100ms;
        -webkit-animation-delay: 5000ms;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
    }
}