@font-face {
    font-family: $fontRegular;
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-style: normal;
}

@font-face {
    font-family: $fontBold;
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-style: normal;
}