$bgFirst: #eae7e7ac;
$bgSecond: #fff;
$bgColorThree: #141414;

$textColorFirst: #141414;
$textColorFirstHover: #caa3a3;
$textColorSecond: #333;
$textColorThree: #eee;
$textColorFour: #818181;

$fontRegular: 'RobotoRegular', sans-serif;
$fontBold: 'RobotoBold', sans-serif;

$scrollWidth: 8px;

// $titleMoveSpeed: 1000ms; задаётся в js